// Mixins Here
@nav-background: rgb(247, 247, 247);

.button(@background: rgb(52, 52, 87), @color: white) {
	background-color: @background;
	color: @color;
	width: 100%;
	border-radius: 5px;
	text-decoration: none;
	padding: 3% 0;
	display: flex;
	justify-content: center;
	cursor: pointer;
	font-size: 3rem;
	&:hover {
		background-color: @color;
		color: @background;
	}
}
